.jsondi-table th {
    width: auto;
}

.jsondi-table td {
    vertical-align: top;
}

.jsondi-table .securitykey {
    font-family: monospace;
    width: 100%;
}
.jsondi-table .code {
    font-family: monospace;
    width: 100%;
}

.jsondi-tablecompact {
    border-spacing: 0;
    border-collapse: collapse;
}

.jsondi-tablecompact th,
.jsondi-tablecompact td {
    vertical-align: top;
    padding: 1px;
    font-size: 10px;
    border: 1px solid gray;
}

.jsondi-table .json {
    font-size: 10px;
    font-family: monospace;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #7e8993;
    background-color: #fff;
    color: #32373c;
    padding: 10px;
}

.jsondi-table .jsondi-col-left,
.jsondi-table .jsondi-col-right {
    width: 100%;
    display: block;
}

@media screen and (min-width: 1300px) {
    .jsondi-table .jsondi-col-left,
    .jsondi-table .jsondi-col-right {
        width: 50%;
        display: table-cell;
    }
}

.jsondi-table .jsondi-warning {
    font-size: 10px;
    font-style: italic;
}
